<div class="inner-content">
    <div class="info-holder col-xs-12 col-sm-8 col-md-6 col-xs-offset-0 col-sm-offset-2 col-md-offset-3">
        <div class="col-xs-12">
            <b class="page-header">Login</b>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ng-model="input.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" ng-model="input.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button ng-click="login()" ng-disabled="form.$invalid || data_loading" class="btn btn-primary">Login</button>
            <a href="#/register" class="btn btn-link">Register</a>
        </div>
        <div uib-alert ng-if="alert != undefined" class="alert-danger" close="closeAlert()" style="margin-top: 5px">{{ alert }}</div>
    </div>
</div>