<link rel="stylesheet" type="text/css" href="../../../static/css/sidebar.css">

<div class="sidebar" ng-controller="SidebarController">
    <ul class="list-unstyled">
        <li><a ng-click="nav('/a')">
                <div class="sidebar-item">
                    Overview
                </div>
        </a></li>
        <li><a ng-click="nav('/a/a')">
                <div class="sidebar-item">
                    Averages
                </div>
        </a></li>
        <li><a ng-click="nav('/a/m')">
                <div class="sidebar-item">
                    Matches
                </div>
        </a></li>
        <li><a ng-click="nav('/a/e')">
                <div class="sidebar-item">
                    Entries
                </div>
        </a></li>
    </ul>

    <ul class="list-unstyled sidebar-list-bottom">
        <li>
            <input class="form-control sidebar-input" type="text" placeholder="Highlight Team" ng-model="tracked_team" uib-typeahead="team for team in teams | filter:$viewValue | limitTo:8">
        </li>
    </ul>
</div>