<link rel="stylesheet" type="text/css" href="../../../static/css/sidebar.css">

<div class="sidebar" ng-controller="SettingsSidebarController">
    <ul class="list-unstyled">
        <li><a ng-click="nav('/s/c')">
                <div class="sidebar-item">
                    Edit Calculations
                </div>
        </a></li>
        <li><a ng-click="nav('/s/i')" ng-if="!tracked_event.info.is_tba"><!-- Only show this, team list, and matches if it's not a TBA event. -->
                <div class="sidebar-item">
                    Edit Event Info
                </div>
        </a></li>
        <li><a ng-click="nav('/s/t')" ng-if="!tracked_event.info.is_tba">
                <div class="sidebar-item">
                    Edit Team List
                </div>
        </a></li>
        <li><a ng-click="nav('/s/m')" ng-if="!tracked_event.info.is_tba">
                <div class="sidebar-item">
                    Edit Matches
                </div>
        </a></li>
        <li><a ng-click="update_tba()" ng-if="tracked_event.info.is_tba">
                <div class="sidebar-item">
                    Update TBA Info
                </div>
        </a></li>
        <li><a ng-click="update_event()" ng-if="tracked_event.info.is_tba">
                <div class="sidebar-item">
                    Update Event Data
                </div>
        </a></li>
    </ul>
</div>