<link rel="stylesheet" type="text/css" href="../../../static/css/sidebar.css">

<div class="sidebar" ng-controller="SidebarController">
    <ul class="list-unstyled">
        <li><a ng-click="nav('/s/c')">
                <div class="sidebar-item">
                    Edit Calculations
                </div>
        </a></li>
        <li><a ng-click="nav('/s/i')">
                <div class="sidebar-item"> <!-- Only show this, team list, and matches if it's not a TBA event. -->
                    Edit Event Info
                </div>
        </a></li>
        <li><a ng-click="nav('/s/t')">
                <div class="sidebar-item">
                    Edit Team List
                </div>
        </a></li>
        <li><a ng-click="nav('/s/m')">
                <div class="sidebar-item">
                    Edit Matches
                </div>
        </a></li>
        <li><a ng-click=""> <!-- Only show this if it's a TBA event. Show a loading popup? -->
                <div class="sidebar-item">
                    Update TBA Info
                </div>
        </a></li>
    </ul>
</div>