.idea/
db/
tba.json
util/tba_cache.json
server/static/node_modules/
sheets/pdf
server/static/robot_pics/
*/__pycache__/
*.pyc

upload_robot_pics.sh

credentials.json

clooney.wsgi
.DS_Store
server/static/yarn.lock
server/static/yarn-error.log
server/static/yarn.lock
