<div ng-include="'../../../static/views/analysis/sidebar.html'"></div>

<div class="inner-content">
    <div class="info-holder">
        <div class="info-block">
            <div class="event-name">
                {{ event.name }}
                <small class="event-key">{{ event.key }}</small>
            </div>
        </div>
    </div>

    <div class="col-md-4 info-holder">
        <div class="info-block">
            Stuff
        </div>
    </div>
    <div class="col-md-4 info-holder">
        <div class="info-block">
            Goes
        </div>
    </div>
    <div class="col-md-4 info-holder">
        <div class="info-block">
            Here
        </div>
    </div>

    <div class="col-md-6 info-holder">
        <div class="info-block">
            Or
        </div>
    </div>
    <div class="col-md-6 info-holder">
        <div class="info-block">
            Here
        </div>
    </div>
</div>