<div ng-controller="EventSidebarController" ng-include="'../../../static/views/analysis/sidebar.html'">

</div>

<div class="inner-content" ng-class="{'shrink-left-sidebar': leftSidebarVisible && rightSidebarVisible,
                                      'shrink-right-sidebar': !leftSidebarVisible && !rightSidebarVisible,
                                      'shrink-left-right-sidebar': leftSidebarVisible && !rightSidebarVisible}"
     ng-show="event.name != undefined">
    <div class="info-holder">
        <div class="info-block">
            <div class="event-name">
                {{ event.name }}
                <small class="event-key">{{ event.key }}</small>
            </div>
        </div>
    </div>

    <div class="col-md-4 info-holder" ng-repeat="header in headers">
        <div class="info-block">
            <h4 class="info-header">{{ header.title }}</h4>
            <table class="table team-data-table">
                <thead>
                    <tr>
                        <td>Rank</td>
                        <td>Team</td>
                        <td>Value</td>
                    </tr>
                </thead>
                <tbody ng-repeat="elem in data | orderBy:(header.key+'.value'):true | limitTo:5">
                    <tr>
                        <td><b>{{ $index+1 }}</b></td>
                        <td><a href="#/team/{{ elem.team_number.value }}" class="team-link">
                            {{ elem.team_number.value }}
                        </a></td>
                        <td uib-tooltip="{{ elem[header.key].raw }}" tooltip-placement="top-left">
                            {{ elem[header.key].value }}
                        </td>
                    </tr>
            </table>
        </div>
    </div>
</div>