<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="../../../static/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../static/css/main.css">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Clooney
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/s/#">Settings</a></li>
            <li><a href="/e/#">Events</a></li>
        </ul>
    </div>
</nav>

<div ng-controller="SidebarController">
    <div class="sidebar">
        <div class="sidebar-block" uib-dropdown>
            <div class="row" id="event-select" uib-dropdown-toggle>
                <div class="col-xs-2 event-select-label">Event:</div>
                <div class="col-xs-10 event-select-event">{{ getSelectedEvent() }}<span class="caret"></span></div>
            </div>
            <ul class="dropdown-menu event-select-dropdown" uib-dropdown-menu role="menu"
                aria-labelledby="event-select">
                <li role="menuitem" ng-repeat="event in events" ng-click="selectEvent(event)"><a>{{ event.name }}</a>
                </li>
            </ul>
        </div>
        <ul class="sidebar-list">
            <li class="sidebar-item" ng-class="{ active: isActive('/') }"><a href="#/">Preview</a></li>
            <li class="sidebar-item" ng-class="{ active: isActive('/t') }"><a href="#/t">Teams</a></li>
            <li class="sidebar-block" ng-class="{ active: isActive('/m') }" uib-dropdown>
                <div class="row" id="match-level-select" uib-dropdown-toggle>
                    <div class="col-xs-4 event-select-label">Matches</div>
                    <div class="col-xs-8 event-select-event">{{ getSelectedLevel() }}<span class="caret"></span>
                    </div>
                </div>
                <ul class="dropdown-menu event-select-dropdown" uib-dropdown-menu role="menu" aria-labelledby="match-level-select">
                    <li role="menuitem" ng-repeat="level in match_levels" ng-click="">
                        <a style="background: #fff" href="#/m/{{ level.link }}">{{ level.name }}</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item" ng-class="{ active: isActive('/s') }"><a href="#/s">Team Stats</a></li>
            <li class="sidebar-item" ng-class="{ active: isActive('/r') }"><a href="#/r">Raw</a></li>
            <li class="sidebar-item" ng-class="{ active: isActive('/p') }"><a href="#/p">Predictions</a></li>
            <li class="sidebar-item" ng-class="{ active: isActive('/o') }"><a href="#/o">OPRs</a></li>
            <li class="sidebar-item" ng-class="{ active: isActive('/a') }"><a href="#/a">Event Analysis</a></li>
        </ul>

        <div class="sidebar-block sidebar-block-bottom clickable" ng-click="toggleSidebar()">
            {{ toggleVerb }} Picklist
        </div>
    </div>

    <div class="content" ng-class="{ 'show-list': sidebarShown }" ng-view></div>

    <div id="picklist-sidebar" class="sidebar sidebar-right"
         ng-class="{ 'picklist-hidden': !sidebarShown, 'picklist-shown': sidebarShown }">
        <div class="picklist-header">
            <ul class="picklist-icons">
                <li class="picklist-icon glyphicon glyphicon-zoom-in" ng-click="increaseFont()"></li>
                <li class="picklist-icon glyphicon glyphicon-zoom-out" ng-click="decreaseFont()"></li>
                <li class="picklist-icon glyphicon glyphicon-copy" ng-click="copyList()"></li>
                <li class="picklist-icon glyphicon glyphicon-floppy-save" ng-click="saveList()"></li>
            </ul>
        </div>
        <div class="picklist-holder">
            <textarea class="picklist-text" id="picklist" ng-keyup="updateList()"></textarea>
        </div>
    </div>
</div>



<script src="../../../static/bower_components/angular/angular.js"></script>
<script src="../../../static/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../../../static/bower_components/angular-route/angular-route.js"></script>
<script src="../../../static/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="../../../static/bower_components/angu-fixed-header-table/angu-fixed-header-table.js"></script>
<script src="../../../static/bower_components/chart.js/dist/Chart.min.js"></script>
<script src="../../../static/bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="../../../static/controllers/analysis/analysis.js"></script>
<script src="../../../static/controllers/analysis/sidebar.js"></script>
<script src="../../../static/controllers/analysis/picklist.js"></script>
<script src="../../../static/controllers/analysis/teams.js"></script>
<script src="../../../static/controllers/analysis/matches.js"></script>
<script src="../../../static/controllers/analysis/stats.js"></script>
<script src="../../../static/controllers/analysis/raw.js"></script>
<script src="../../../static/controllers/analysis/oprs.js"></script>
<script src="../../../static/directives/sortable-table.js"></script>
<script src="../../../static/directives/data-filters.js"></script>
<script src="../../../static/directives/analysis/team-link.js"></script>
</body>
</html>