<div ng-controller="EventSidebarController" ng-include="'../../../static/views/analysis/sidebar.html'"></div>

<div class="inner-content" ng-class="{'shrink-left-sidebar': leftSidebarVisible && rightSidebarVisible,
                                      'shrink-right-sidebar': !leftSidebarVisible && !rightSidebarVisible,
                                      'shrink-left-right-sidebar': leftSidebarVisible && !rightSidebarVisible}"
     ng-show="event.name != undefined">
    <div class="info-holder">
        <div class="info-block">
            <div class="event-name" ng-cloak>
                Pokédex | {{ match_key }}
            </div>
        </div>
    </div>


    <div class="info-holder col-xs-12 col-md-6" ng-repeat="alliance in ['red', 'blue']">
        <div class="info-holder info-block" ng-class="{'red-alliance-title': alliance === 'red', 'blue-alliance-title': alliance == 'blue'}">
            <div class="event-name">
                {{ alliance.toProperCase() }} | {{ match_info['alliances'][alliance]['score'] }}
            </div>
        </div>
        <!--<div class="info-holder info-block">
            <div class="row">
                <div class="col-xs-5">
                </div>
                <div class="col-xs-2" ng-repeat="team_key in match_info['alliances'][alliance]['team_keys']"
                    style="padding: 5px; background: #eee; font-weight: 500; font-size: 16px;">
                    {{ team_key.slice(3) }}
                </div>
            </div>
            <div class="row" ng-repeat="header in data_headers">
                <div class="col-xs-5" style="text-align: right; font-weight: 500; color:#0f9c00; padding: 5px;">
                    {{ header.title }}:
                </div>
                <div class="col-xs-2" ng-repeat="team_key in match_info['alliances'][alliance]['team_keys']"
                    style="padding: 5px; background: #eee; font-weight: 500; font-size: 16px;">
                    {{ getData(avg_data[team_key.slice(3)], header.key) }}
                </div>
            </div>
        </div>-->
    </div>
</div>

</div>
