<link rel="stylesheet" type="text/css" href="../../../static/css/sidebar.css">


<div class="show-sidebar-button" ng-show="!leftSidebarVisible" ng-click="toggleLeftSidebar()">
    Show Sidebar
</div>
<div class="toggle-picklist-button" ng-show="!leftSidebarVisible" ng-click="toggleRightSidebar()">
    Toggle Picklist
</div>

<div class="sidebar" ng-show="$parent.leftSidebarVisible">
    <div class="sidebar-block clickable" ng-click="toggleLeftSidebar()">
        Hide Sidebar
    </div>
    <div class="sidebar-block clickable" ng-click="toggleRightSidebar()">
        Toggle Picklist
    </div>
    <div class="sidebar-block" uib-dropdown>
        <div class="row" id="event-select" uib-dropdown-toggle>
            <div class="col-xs-2 event-select-label">Event:</div>
            <div class="col-xs-10 event-select-event">{{ getSelectedEvent().name || "Select" }}<span class="caret"></span></div>
        </div>
        <ul class="dropdown-menu event-select-dropdown" uib-dropdown-menu role="menu"
            aria-labelledby="event-select">
            <li role="menuitem" ng-repeat="event in events" ng-click="selectEvent(event)"><a>{{ event.name }}</a>
            </li>
        </ul>
    </div>
    <ul class="sidebar-list">
        <li class="sidebar-spacer"></li>
        <li class="sidebar-item" ng-class="{ active: isActive('/') }"><a href="#/event">Preview</a></li>
        <li class="sidebar-item" ng-class="{ active: isActive('/teams') }"><a href="#/teams">Teams</a></li>
        <li class="sidebar-block" ng-class="{ active: isActive('/matches') }" uib-dropdown>
            <div class="row" id="match-level-select" uib-dropdown-toggle>
                <div class="col-xs-4 event-select-label">Matches</div>
                <div class="col-xs-8 event-select-event">{{ getSelectedLevel() }}<span class="caret"></span>
                </div>
            </div>
            <ul class="dropdown-menu event-select-dropdown" uib-dropdown-menu role="menu"
                aria-labelledby="match-level-select">
                <li role="menuitem" ng-repeat="level in match_levels" ng-click="">
                    <a style="background: #fff" href="#/matches/{{ level.link }}">{{ level.name }}</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item" ng-class="{ active: isActive('/stats') }"><a href="#/stats">Team Stats</a></li>
        <li class="sidebar-item" ng-class="{ active: isActive('/raw') }"><a href="#/raw">Raw</a></li>
        <li class="sidebar-item" ng-class="{ active: isActive('/event_oprs') }"><a href="#/event_oprs">Event OPRs</a></li>
        <li class="sidebar-item" ng-class="{ active: isActive('/oprs') }"><a href="#/oprs">Best OPRs</a></li>
        <!--<li class="sidebar-item" ng-class="{ active: isActive('/pred') }"><a href="#/pred">Match Predictions</a></li>-->
        <!--<li class="sidebar-item" ng-class="{ active: isActive('/analysis') }"><a href="#/analysis">Graphs</a></li>-->
        <li class="sidebar-item"><a href="/printable_stats" target="_blank">Printable Stats</a></li>
        <li class="sidebar-spacer"></li>
        <li class="sidebar-item"><a ng-click="updateEvent()">Update Event</a></li>
        <li class="sidebar-item"><a ng-click="resetCache($event)" target="_blank">Reset Cache</a></li>
    </ul>

</div>

<div id="picklist-sidebar" class="sidebar sidebar-right" ng-show="!$parent.rightSidebarVisible"
     ng-controller="PicklistController" ng-cloak>

    <div class="picklist-header">
        <b style="float:left">Picklist</b>
        <ul class="picklist-icons">
            <li class="picklist-icon glyphicon glyphicon-zoom-in" ng-click="increaseFont($event)"></li>
            <li class="picklist-icon glyphicon glyphicon-zoom-out" ng-click="decreaseFont($event)"></li>
            <li class="picklist-icon glyphicon glyphicon-copy" ng-click="copyList()"></li>
            <li class="picklist-icon glyphicon glyphicon-floppy-save" ng-click="saveList()"></li>
        </ul>
    </div>
    <div class="picklist-holder">
        <textarea class="picklist-text" id="picklist" ng-keyup="updateList()"></textarea>
    </div>
</div>

<!--<script src="../../../static/controllers/analysis/picklist.js"></script>-->