<div ng-controller="EventSidebarController" ng-include="'../../../static/views/analysis/sidebar.html'"></div>

<div class="inner-content" ng-class="{'shrink-left-sidebar': leftSidebarVisible && rightSidebarVisible,
                                      'shrink-right-sidebar': !leftSidebarVisible && !rightSidebarVisible,
                                      'shrink-left-right-sidebar': leftSidebarVisible && !rightSidebarVisible}"
     ng-show="event.name != undefined">
    <div class="info-holder">
        <div class="info-block">
            <div class="event-name" ng-cloak>
                {{ event.name }}
                <small class="event-key">
                    {{ event.key }}
                    <a href="http://thebluealliance.com/event/{{ event.key }}" target="_blank">
                        <span class="glyphicon glyphicon-link"></span>
                    </a>
                </small>
            </div>
        </div>
    </div>

    <div class="info-holder info-table">
        <table id="table" class="table info-block table-striped" style="font-size: 14px" multi-sort-table highlight-table>
            <thead>
            <tr>
                <th></th>
                <th ng-repeat="header in headers" class="data-header clickable {{ header.class }}"
                    ng-click="sortData($event, header.key)">
                    <span uib-tooltip="{{ header.tooltip }}">{{ header.title }}</span>
                    <span ng-show="sorts.indexOf(header.key) > -1"
                          class="glyphicon glyphicon-chevron-up">{{ sorts.indexOf(header.key)+1 }}</span>
                    <span ng-show="sorts.indexOf('-' + header.key) > -1"
                          class="glyphicon glyphicon-chevron-down">{{ sorts.indexOf("-" + header.key)+1 }}</span>
                    <span ng-show="sorts.indexOf(header.key) < 0 && sorts.indexOf(header.key) < 0"
                          class="glyphicon glyphicon-none"> </span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="elem in data" ng-if="$storage.hide_coloured_rows !== true || colours[elem.team_number.value] === undefined || colours[elem.team_number.value] % 4 < 1">
                <td ng-click="cycleColour(elem['$$hashKey'])"
                    ng-class="{'highlight-green': colours[elem['$$hashKey']] % 4 == 1, 'highlight-red': colours[elem['$$hashKey']] % 4 == 2, 'highlight-blue': colours[elem['$$hashKey']] % 4 == 3}">
                    <b>{{ $index+1 }}</b>
                </td>
                <td ng-repeat="header in headers" class="data-box {{ header.data_class }}"
                    ng-class="{'highlight-green': colours[elem['$$hashKey']] % 4 == 1, 'highlight-red': colours[elem['$$hashKey']] % 4 == 2, 'highlight-blue': colours[elem['$$hashKey']] % 4 == 3}">
                    <a ng-show="['Team Number', 'Team', 'T#'].indexOf(header.title) > -1" href="#/team/{{ getData(elem, header.key) }}" class="team-link"
                       ng-bind="getData(elem, header.key)">
                    </a>
                    <a ng-show="['Key'].indexOf(header.title) > -1" href="#/match/{{ getData(elem, header.key) }}" class="team-link"
                        ng-bind="getData(elem, header.key)">
                    </a>
                    <span ng-show="['Team Number', 'Team', 'T#', 'Key'].indexOf(header.title) < 0" ng-bind="getData(elem, header.key)"
                          uib-tooltip="{{ header.title }}: {{ getData(elem, header.tooltip_key) }}" tooltip-placement="top"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
