<div ng-controller="EventSidebarController" ng-include="'../../../static/views/analysis/sidebar.html'"></div>

<div class="inner-content" ng-class="{'shrink-left-sidebar': leftSidebarVisible && rightSidebarVisible,
                                      'shrink-right-sidebar': !leftSidebarVisible && !rightSidebarVisible,
                                      'shrink-left-right-sidebar': leftSidebarVisible && !rightSidebarVisible}"
     ng-show="event.name != undefined">
    <div class="info-holder">
        <div class="info-block">
            <div class="event-name" ng-cloak>
                {{ event.name }}
                <small class="event-key">
                    {{ event.key }}
                    <a href="http://thebluealliance.com/event/{{ event.key }}" target="_blank">
                        <span class="glyphicon glyphicon-link"></span>
                    </a>
                </small>
            </div>
        </div>
    </div>

    <div class="info-holder info-table">
        <table id="table" class="table info-block table-striped" style="font-size: 14px" ng-cloak multi-sort-table highlight-table>
            <thead>
            <tr>
                <th></th>
                <th ng-repeat="header in headers" class="data-header clickable {{ header.class }}"
                    ng-click="sortData($event, header.sort_id)">
                    <span uib-tooltip="{{ header.tooltip }}" tooltip-placement="top">{{ header.title }}</span>
                    <span ng-show="sorts.indexOf(header.sort_id) > -1"
                          class="glyphicon glyphicon-chevron-up">{{ sorts.indexOf(header.sort_id)+1 }}</span>
                    <span ng-show="sorts.indexOf('-' + header.sort_id) > -1"
                          class="glyphicon glyphicon-chevron-down">{{ sorts.indexOf("-" + header.sort_id)+1 }}</span>
                    <span ng-show="sorts.indexOf(header.sort_id) < 0 && sorts.indexOf(header.sort_id) < 0"
                          class="glyphicon glyphicon-none"> </span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="elem in data | orderBy:sorts">
                <td ng-click="cycleColour(elem.a)"
                    ng-class="{'highlight-green': colours[elem.a] % 4 == 1, 'highlight-red': colours[elem.a] % 4 == 2, 'highlight-blue': colours[elem.a] % 4 == 3}">
                    <b>{{ $index+1 }}</b>
                </td>
                <td ng-repeat="header in headers" class="data-box {{ header.data_class }}"
                    ng-class="{'highlight-green': colours[elem.a] % 4 == 1 || elem[header.sort_id] == highlight_val, 'highlight-red': colours[elem.a] % 4 == 2, 'highlight-blue': colours[elem.a] % 4 == 3}">
                    <a ng-show="['Team Number', 'Team', 'T#'].indexOf(header.title) >= 0" href="#/team/{{ elem[header.sort_id] }}" class="team-link"
                       ng-bind="elem[header.sort_id]">
                    </a>
                    <span ng-show="['Team Number', 'Team', 'T#'].indexOf(header.title) < 0" ng-bind="elem[header.sort_id]"
                          uib-tooltip="{{ header.title }}: {{ elem[header.sort_id + 'tooltip'] }}" tooltip-placement="top"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
