<div ng-controller="EventSidebarController" ng-include="'../../../static/views/analysis/sidebar.html'"></div>

<div class="inner-content" ng-class="{'shrink-left-sidebar': leftSidebarVisible && rightSidebarVisible,
                                      'shrink-right-sidebar': !leftSidebarVisible && !rightSidebarVisible,
                                      'shrink-left-right-sidebar': leftSidebarVisible && !rightSidebarVisible}"
     ng-show="event.name != undefined">
    <div class="info-holder">
        <div class="info-block">
            <div class="event-name" ng-cloak>
                Pokédex | {{ team_info["team_number"] }}
                <small>
                    {{ team_info["nickname"] }}
                    <a href="http://thebluealliance.com/team/{{ team_info['team_number'] }}" target="_blank">
                        <span class="glyphicon glyphicon-link"></span>
                    </a>
                </small>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-4 info-holder">
        <div class="info-holder robot-img-container row" ng-cloak>
            <div class="info-block">
                <div uib-carousel active="active" interval="interval" no-wrap="noWrapSlides">
                    <div uib-slide ng-repeat="slide in images track by slide.id" index="slide.id">
                        <a href="{{ slide.image }}" target="_blank">
                            <img ng-src="{{ slide.image }}" class="robot-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-holder row">
            <table class="table info-block team-data-table" ng-cloak>
                <tr ng-repeat="header in team_info_headers">
                    <td>
                        <b>{{ header.title }}</b>
                    </td>
                    <td>
                        {{ getData(team_info, header.key) }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="info-holder row">
            <table class="table info-block team-data-table" ng-cloak>
                <tr ng-repeat="header in data_info_headers">
                    <td>
                        <b>{{ header.title }}</b>
                    </td>
                    <td>
                        {{ getData(avg_data, header.key) }}
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="info-holder col-xs-12 col-md-8">
        <div class="info-table info-block">
            <table id="table" class="table team-data-table" ng-show="raw_data.length > 0" multi-sort-table ng-cloak>
                <thead>
                <tr>
                    <th ng-repeat="header in data_headers" class="data-header clickable {{ header.class }}"
                        ng-click="sortData($event, header.sort_id)">
                        {{ header.title }}
                        <span ng-show="sorts.indexOf(header.sort_id) > -1"
                              class="glyphicon glyphicon-chevron-up">{{ sorts.indexOf(header.sort_id)+1 }}</span>
                        <span ng-show="sorts.indexOf('-' + header.sort_id) > -1"
                              class="glyphicon glyphicon-chevron-down">{{ sorts.indexOf("-" + header.sort_id)+1 }}</span>
                        <span ng-show="sorts.indexOf(header.sort_id) < 0 && sorts.indexOf(header.sort_id) < 0"
                              class="glyphicon glyphicon-none"> </span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td ng-repeat="header in data_headers" class="data-box bold-data {{ header.data_class }}"
                        ng-bind="getData(avg_data, header.key + ', value')">
                    </td>
                </tr>
                <tr ng-repeat="elem in raw_data | orderBy:sorts">
                    <td ng-repeat="header in data_headers" class="data-box {{ header.data_class }}"
                        ng-bind="elem[header.sort_id]">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>
