<div ng-controller="EventSidebarController" ng-include="'../../../static/views/analysis/sidebar.html'"></div>

<div class="inner-content" ng-class="{'shrink-left-sidebar': leftSidebarVisible && rightSidebarVisible,
                                      'shrink-right-sidebar': !leftSidebarVisible && !rightSidebarVisible,
                                      'shrink-left-right-sidebar': leftSidebarVisible && !rightSidebarVisible}"
     ng-show="event.name != undefined" style="height: auto">
    <div class="info-holder">
        <div class="info-block">
            <div class="event-name" ng-cloak>
                Pokédex | {{ team_info["team_number"] }}
                <small>
                    {{ team_info["nickname"] }}
                    <a href="http://thebluealliance.com/team/{{ team_info['team_number'] }}" target="_blank">
                        <span class="glyphicon glyphicon-link"></span>
                    </a>
                </small>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-4 info-holder" style="height: 100%;">
        <div class="info-holder robot-img-container row" ng-cloak>
            <div class="info-block">
                <div uib-carousel active="active" interval="interval" no-wrap="noWrapSlides">
                    <div uib-slide ng-repeat="slide in images track by slide.id" index="slide.id">
                        <a href="{{ slide.image }}" target="_blank">
                            <img ng-src="{{ slide.image }}" class="robot-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-holder row">
            <table class="table info-block team-data-table" ng-cloak>
                <tr ng-repeat="header in team_info_headers">
                    <td>
                        <b>{{ header.title }}</b>
                    </td>
                    <td>
                        {{ getData(team_info, header.key) }}
                    </td>
                </tr>
            </table>
        </div>

        <div class="info-holder row">
            <table class="table info-block team-data-table" ng-cloak>
                <tr ng-repeat="header in data_info_headers">
                    <td>
                        <b>{{ header.title }}</b>
                    </td>
                    <td>
                        {{ getData(avg_data, header.key) }}
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="info-holder col-xs-12 col-md-8">
        <div class="row" style="margin: 0;">
            <div class="info-holder col-xs-12 col-sm-6">
                <b>Cubes Scored</b>
                <canvas id="cube_chart" class="chart chart-bar" chart-data="cube_chart_data" chart-colors="cube_chart_colors"
                    chart-labels="cube_chart_labels" chart-series="cube_chart_series" chart-options="cube_chart_options">
                </canvas>
            </div>

            <div class="info-holder col-xs-12 col-sm-6">
                <b>Auto Cubes</b>
                <canvas id="auto_chart" class="chart chart-bar" chart-data="auto_cube_chart_data" chart-colors="auto_cube_chart_colors"
                    chart-labels="auto_cube_chart_labels"chart-series="auto_cube_chart_series" chart-options="auto_cube_chart_options">
                </canvas>
            </div>
        </div>
    </div>
    <div class="info-holder col-xs-12 col-md-8" style="height: 400px; overflow: scroll">
        <div class="info-table info-block">
            <table id="table" class="table team-data-table" ng-show="raw_data.length > 0" multi-sort-table ng-cloak style="overflow: scroll; height: 400px;">
                <thead>
                <tr>
                    <th ng-repeat="header in data_headers" class="data-header clickable {{ header.class }}"
                        ng-click="sortData($event, header.key)">
                        {{ header.title }}
                        <span ng-show="sorts.indexOf(header.key) > -1"
                              class="glyphicon glyphicon-chevron-up">{{ sorts.indexOf(header.key)+1 }}</span>
                        <span ng-show="sorts.indexOf('-' + header.key) > -1"
                              class="glyphicon glyphicon-chevron-down">{{ sorts.indexOf("-" + header.key)+1 }}</span>
                        <span ng-show="sorts.indexOf(header.key) < 0 && sorts.indexOf(header.key) < 0"
                              class="glyphicon glyphicon-none"> </span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td ng-repeat="header in data_headers" class="data-box bold-data {{ header.data_class }}"
                        ng-bind="avg_data[header.key]['value']">
                    </td>
                </tr>
                <tr ng-repeat="elem in raw_data | orderBy:sorts">
                    <td ng-repeat="header in data_headers" class="data-box {{ header.data_class }}"
                        ng-bind="elem[header.key]">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>
