<div ng-include="'../../../static/views/sidebars/settings_sidebar.html'"></div>
<link rel="stylesheet" type="text/css" href="../../../../static/css/edit_calc.css">

<div class="inner-content-with-sidebar">
    <div class="row page-header">
        <div class="col-xs-4" style="padding: 0">
            Edit Headers
        </div>
        <div class="col-xs-8" style="text-align: right">
            <ul class="list-inline" ng-if="selected_group != undefined">
                <li><button class="btn btn-sm btn-danger" ng-click="deleteGroup()" ng-if="canDeleteGroup">Delete</button></li>
                <li><button class="btn btn-sm btn-warning" ng-click="resetGroup()">Reset</button></li>
                <li><button class="btn btn-sm btn-success" ng-click="saveGroup()">Save</button></li>
                <li><button class="btn btn-sm btn-primary" ng-click="setDefault()">Default</button>
                <li><button class="btn btn-sm btn-info" ng-click="setGlobalDefault()" ng-show="canSetGlobalDefault">Global Default</button>
                <li><button class="btn btn-sm btn-default" ng-click="selected_group.data.push({})" style="width: 100px">Add Row</button>
            </ul>
        </div>
    </div>

    <div class="col-xs-3 item-sub-list-holder">
        <div class="col-xs-6" style="padding: 1px"><button class="btn btn-block btn-warning" ng-click="resetGroups()">Reset All</button></div>
        <div class="col-xs-6" style="padding: 1px"><button class="btn btn-block btn-success col-xs-6" ng-click="saveGroups()">Save All</button></div>
        <ul class="list-unstyled">
            <li ng-repeat="page in header_pages">
                <b ng-click="isCollapsed = !isCollapsed" class="item-sub-list-header">{{ page.name }} ({{ getPageGroups(page).length }})</b>
                <span class="glyphicon glyphicon-plus" style="float: right" ng-click="createGroup(page)"></span>
                <ul uib-collapse="isCollapsed" class="list-unstyled">
                    <li class="item-sub-list-item" ng-repeat="header_group in getPageGroups(page)">
                        <a ng-click="selectGroup(header_group)">{{ header_group.name }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="item-list-holder col-xs-9" ng-if="selected_group != undefined">
        <input ng-model="selected_group.name" type="text" class="form-control" placeholder="Group Name">
        <table class="table table-striped item-list">
            <thead>
                <tr>
                    <th class="col-xs-1"></th>
                    <th class="col-xs-2">Title</th>
                    <th class="col-xs-2">Key</th>
                    <th class="col-xs-2">Class</th>
                    <th class="col-xs-2">Data Class</th>
                    <th class="col-xs-3">Tooltip</th>
                </tr>
            </thead>
            <tbody ui-sortable ng-model="selected_group.data">
                <tr ng-repeat="header in selected_group.data">
                    <td><span class="glyphicon glyphicon-menu-hamburger" style="font-size: 12px; padding: 2px 0 5px 5px; color: #999"></span></td>
                    <td><input class="form-control" type="text" ng-model="header.title"></td>
                    <td><input class="form-control" type="text" ng-model="header.data_key"></td>
                    <td><input class="form-control" type="text" ng-model="header.class"></td>
                    <td><input class="form-control" type="text" ng-model="header.data_class"></td>
                    <td><input class="form-control" type="text" ng-model="header.tooltip"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>