<div ng-include="'../../../static/views/sidebars/settings_sidebar.html'"></div>
<link rel="stylesheet" type="text/css" href="../../../../static/css/edit_calc.css">

<div class="inner-content-with-sidebar">
    <div class="row page-header">
        <div class="col-xs-6" style="padding: 0">
            Event Settings
        </div>
        <div class="col-xs-6" style="text-align: right">
            <ul class="list-inline">
                <li><button class="btn btn-sm btn-danger" ng-click="revertSettings()">Reset</button></li>
                <li><button class="btn btn-sm btn-success" ng-click="saveSettings()">Save</button></li>
            </ul>
        </div>
    </div>

    <div class="calculation-list-holder col-xs-12">
        <div class="row form-group">
            <label class="col-xs-2 col-form-label" for="sheet_select">Sheet:</label>
            <div class="col-xs-10">
                <select id="sheet_select" class="form-control" ng-model="selected_sheet">
                    <option ng-repeat="option in sheets" value="{{ option }}">{{ option.name }}</option>
                </select>
            </div>
        </div>

        <h3>Default Headers</h3>
        <div class="row form-group">
            <label class="col-xs-2 col-form-label" for="default_avg_headers">Averages:</label>
            <div class="col-xs-10">
                <select id="default_avg_headers" class="form-control" ng-model="default_avg_headers">
                    <option ng-repeat="option in avg_headers" value="{{ option }}">{{ option.name }}</option>
                </select>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-xs-2 col-form-label" for="default_raw_headers">Entries:</label>
            <div class="col-xs-10">
                <select id="default_raw_headers" class="form-control" ng-model="default_raw_headers">
                    <option ng-repeat="option in raw_headers" value="{{ option }}">{{ option.name }}</option>
                </select>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-xs-2 col-form-label" for="default_team_raw_headers">Team Entries:</label>
            <div class="col-xs-10">
                <select id="default_team_raw_headers" class="form-control" ng-model="default_team_raw_headers">
                    <option ng-repeat="option in team_raw_headers" value="{{ option }}">{{ option.name }}</option>
                </select>
            </div>
        </div>
    </div>
</div>