.item-list-holder {

}

.item-list {
    border: 1px solid #ddd;
}

.item-list tr {
    height: 20px;
    padding: 2px;
}

.item-list input, .item-list select {
    padding: 2px;
    height: 20px;
}

.item-list-item {
}

.item-list-item .selected {
}

.item-sub-list-holder {
    margin-left: 8px;
    margin-right: -8px;
    border-top: solid 1px #ddd;
    padding: 5px;
}
.item-sub-list-header{
    font-size: 16px;
    cursor: hand;
}

.item-sub-list-item {
    padding: 2px;
    padding-left: 5px;
}