.sheet_area {
    padding: 0;
}

.sheet_canvas {
    background: #ECEFF1;
    height: 100%;
    width: 100%;
    border-right: 1px solid #CFD8DC;
}

.info_area {
    padding: 0;
    overflow-y: scroll;
}

.option_bar{
    height: 42px;
    width: 100%;
    background: #90A4AE;
    border-bottom: 1px solid #78909C;
}

.option_list {
    list-style-type: none;
    margin: 0 2px;
    padding: 0;
    height: 100%;
}

.option_list_item {
    float: left;
    height: 34px;
    /*width: 40px;*/
    padding: 0;
    margin: 5px 3px;
    border-radius: 10px;
    text-align: center;
}

.option_item_icon {
    border: none;
    background: #CFD8DC;
    color: #37474F;
}
.option_item_icon:hover, .option_item_icon:visited {
    background: #B0BEC5;
}

.field_area {
    height: calc(100% - 42px);
    width: 100%;
    overflow-y: scroll;
}

.field_section {
    margin: 10px;
    border-radius: 2px;
    overflow: hidden;
}

.field_header {
    background: #90A4AE;
    padding: 5px;
}

.field_header_icon {
    display: inline;
    background: #607D8B;
    border-radius: 3px;
    padding: 2px 3px 3px 2px;
    border: #546E7A 1px solid;
    float: right;
}

.field_content {
    background: #CFD8DC;
    padding: 5px;
}

.field_input {
    width: 100%;
}