.content {
    position: fixed;
    top: 50px;
    margin: 0;
    padding: 0;
    width: calc(100% - 250px);
    height: calc(100% - 50px);
}

.inner-content {
    margin: -60px 0 0 250px;
    padding: 0;
    height: calc(100% + 60px);
    width: calc(100% - 250px);
    overflow-y: scroll;
}

.info-holder {
    margin: 5px 0 0 0;
    padding: 0 5px;
}

.info-block {
    text-align: left;
    background: #eee;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.info-header {
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    background: #ddd;
    padding: 5px;
    margin: -5px -5px 10px -5px;
}

.event-accuracy {
    font-size: 18px;
    text-align: right;
    padding-top: 4px;
    font-weight: 400;
}

.event-name {
    font-size: 24px;
    font-weight: 500;
}

.event-key {
    font-weight: normal;
    color: #888;
}

.info-table {
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: scroll;
    font-size: 12px;
}

tr:nth-child(even) {
    background-color: #f8f8f8;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even).item.selected, tr:nth-child(odd).item.selected {
    background-color: #ccccff;
}

tr:nth-child(even).item.picked, tr:nth-child(odd).item.picked {
    background-color: #ccffcc;
}

.team-link {
    color: #666;
}

.team-link:hover {
    color: #999;
    text-decoration: none;
}

.data-header {
    text-align: center;
    font-weight: 500;
}

.data-box {
    text-align: center;
}

.data-box.uppercase {
    text-transform: uppercase;
}

.data-box-left {
    text-align: left;
}

.data-box-right {
    text-align: right;
}

tr:nth-child(even) {
    background: #dddddd;
}

tr:nth-child(odd) {
    background: #eeeeee;
}

tr:nth-child(even) .red-alliance {
    background: #eccccc;
}

tr:nth-child(odd) .red-alliance {
    background: #fcdddd;
}

tr:nth-child(even) .blue-alliance {
    background: #ccccec;
}

tr:nth-child(odd) .blue-alliance {
    background: #ddddfc;
}

tr:nth-child(odd) .highlight {
    background: #cceccc;
}

th {
    color: #0f9c00;
}

.bold-data {
    font-weight: 500;
}

.header-row {
    width: 100%;
    padding: 5px 5px 0 5px;
}

.header-entry {
    background-color: #ddd;
    border-radius: 5px;
    padding: 5px;
}

.header-title-row {
    background-color: #aaa;
}

.form-control {
    width: 100%;
}

.header-edit-button-list {
    list-style-type: none;
    padding: 0;
    margin: 8px 0 8px 5px;
    vertical-align: middle;
}

.header-edit-button {
    display: inline;
    margin: 0;
}

.clickable {
    cursor: pointer;
}

.glyphicon {
    font-size: 13px;
}

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}

.glyphicon-chevron-down, .glyphicon-chevron-up {
    cursor: pointer;
}

.glyphicon-menu-hamburger {
    cursor: move;
}

.glyphicon-duplicate {
    cursor: pointer;
}

.glyphicon-remove {
    cursor: pointer;
    color: #c00;
}

.glyphicon-plus {
. clickable;
    color: #0c0;
}

.loading_box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10000;
    padding-top: 200px;
    background-color: #111111;
    opacity: 0.9;
}

.loading_img {
    opacity: 1.0;
    margin: 5px 20px 20px;
    max-height: 100px;
}

.team-data-table {
    font-size: 12px;
}

.robot-img-container {

}

.robot-img {
    display: block;
    overflow: visible;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    float: none;
}