<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Clooney</title>
    <link rel="stylesheet" type="text/css" href="../../static/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">

</head>
<body ng-controller="ApplicationController">

<div ng-include="'../../static/views/navbar.html'"></div>

<div class="content" ng-view ng-cloak></div>

<div class="loading-icon-holder" ng-show="data_loading > 0">
  <h1>Loading...</h1>
  <img src="../../static/img/celtx_717x717.png">
</div>

<script src="../../static/js/Blob-js/Blob.js"></script>
<script src="../../static/node_modules/file-saver/FileSaver.min.js"></script>
<script src="../../static/node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../static/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
<script src="../../static/node_modules/angular/angular.min.js"></script>
<script src="../../static/node_modules/ngstorage/ngStorage.min.js"></script>
<script src="../../static/node_modules/angular-route/angular-route.min.js"></script>
<script src="../../static/node_modules/angular-file-saver/dist/angular-file-saver.min.js"></script>
<script src="../../static/node_modules/angular-animate/angular-animate.min.js"></script>
<script src="../../static/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<script src="../../static/node_modules/angular-ui-sortable/dist/sortable.min.js"></script>
<script src="../../static/controllers/app.js"></script>
<script src="../../static/controllers/sidebars.js"></script>
<script src="../../static/controllers/analysis.js"></script>
<script src="../../static/controllers/settings.js"></script>
<script src="../../static/controllers/sheets.js"></script>
<script src="../../static/controllers/setup.js"></script>
<script src="../../static/controllers/users.js"></script>
</body>
</html>