<link rel="stylesheet" type="text/css" href="../../static/css/sidebar.css">

<div class="sidebar" ng-controller="SidebarController">
    <ul class="list-unstyled">
        <li>
            <div class="sidebar-header" style="font-size: 16px;">
                {{ event_name }}
            </div>
        </li>
        <li>
            <input class="form-control sidebar-input" type="text" placeholder="Highlight Team" ng-model="tracked_team" uib-typeahead="team for team in teams | filter:$viewValue | limitTo:8">
        </li>
        <li class="sidebar-header sidebar-header-bordered">
        </li>
        <li><a ng-click="nav('/a')">
                <div class="sidebar-item">
                    Averages
                </div>
        </a></li>
        <li><a ng-click="nav('/i')">
                <div class="sidebar-item">
                    Insights
                </div>
        </a></li>
        <li><a ng-click="nav('/m')">
                <div class="sidebar-item">
                    Matches
                </div>
        </a></li>
        <li><a ng-click="nav('/e')">
                <div class="sidebar-item">
                    Entries
                </div>
        </a></li>
    </ul>

    <ul class="list-unstyled sidebar-list-bottom">
        <li class="sidebar-header sidebar-header-bordered">
            Settings
        </li>
        <li><a ng-click="nav('/s/c')">
                <div class="sidebar-item active">
                    Edit Calculations
                </div>
        </a></li>
    </ul>
</div>