<div class="field_header">
    <b>{{ field.options.label }}</b> | {{ field.type }}
    <div class="field_header_icon btn btn-default" ng-click="toggle_contents()">
        <span class="glyphicon" ng-class="{'glyphicon-minus': show_contents, 'glyphicon-plus': !show_contents}"></span>
    </div>
</div>
<div class="field_content" ng-show="show_contents">
    <div class='row'>
        <div class='col-xs-3'>
            <label for='{{field.name}}{{field.type}}-id'>ID:</label>
        </div>
        <div class='col-xs-3'>
            <input class='field_input' id='{{field.name}}{{field.type}}-id' ng-model='field.id'>
        </div>
    </div>
    <div class='row' ng-repeat="input in get_field_settings(field.type)">
        <div class='col-xs-3'>
            <label for='input.id'>{{ input.name }}:</label>
        </div>
        <div class='col-xs-3'>
            <input class='field_input' id='input.id' ng-model='field.options[input.id]' type="{{ input.type }}">
        </div>
    </div>
</div>