<table id="table table-striped" class="table info-block" style="font-size: 14px" ng-cloak multi-sort-table highlight-table>
    <thead>
        <tr>
            <th></th>
            <th ng-repeat="header in headers" class="data-header clickable {{ header.class }}"
                ng-click="sortData($event, header.data_key)">
                <span uib-tooltip="{{ header.tooltip }}" tooltip-placement="top">{{ header.title }}</span>

                <span ng-if="sorts.indexOf(header.data_key) > -1" class="glyphicon glyphicon-sort-by-attributes">{{ sorts.indexOf(header.data_key)+1 }}</span>
                <span ng-if="sorts.indexOf('-' + header.data_key) > -1" class="glyphicon glyphicon-sort-by-attributes-alt">{{ sorts.indexOf("-" + header.data_key)+1 }}</span>
                <span ng-if="sorts.indexOf(header.data_key) < 0 && sorts.indexOf('-' + header.data_key) < 0" class="glyphicon glyphicon-sort"> </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="elem in data | orderBy:sorts | limitTo:10">
            <td ng-click="cycleColour(elem.a)"
                ng-class="{'highlight-green': colours[elem.a] % 4 == 1, 'highlight-red': colours[elem.a] % 4 == 2, 'highlight-blue': colours[elem.a] % 4 == 3}">
                <b>{{ $index+1 }}</b>
            </td>
            <td ng-repeat="header in headers" class="data-box {{ header.data_class }}"
                ng-class="{'highlight-green': colours[elem.a] % 4 == 1 || elem[header.data_key] == highlight_val, 'highlight-red': colours[elem.a] % 4 == 2, 'highlight-blue': colours[elem.a] % 4 == 3}">
                <a ng-show="header.title === 'Team'" class="team-link">
                   {{ elem[header.data_key] }}
                </a>
                <span ng-show="header.title != 'Team'">{{elem[header.data_key]}}</span>
            </td>
        </tr>
    </tbody>
</table>
<ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>