<div class="team-view-modal" ng-click="closeModal()" ng-show="modalOpen">
    <div class="team-view-modal-content">
        <h2>{{ team_number }} | {{ team_info.nickname }}</h2>


        <div>
            <h4>Matches</h4>
            <table id="team_raw_table" class="table table-responsive info-block table-striped table-bordered"
                style="font-size: 14px; display: block; overflow-y: scroll; height: 200px; border-radius: 5px;" ng-cloak>
                <thead>
                    <tr>
                        <th ng-repeat="header in team_raw_headers" class="data-header" ng-class="header.class">
                            <span uib-tooltip="{{ header.tooltip }}" tooltip-placement="top">{{ header.title }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="elem in team_raw | orderBy:['match']">
                        <td ng-repeat="header in team_raw_headers" class="data-box">
                            <datacell dc-header="header" dc-element="elem"></datacell>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>