<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="../../static/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/start_page.css">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Clooney
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/s/#">Settings</a></li>
            <li><a href="/a/#">Events</a></li>
        </ul>
    </div>
</nav>

<div class="content">
    <h1>Clooney</h1>
</div>


<script src="../../static/bower_components/angular/angular.js"></script>
<script src="../../static/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../../static/bower_components/angular-route/angular-route.js"></script>
<script src="../../static/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="../../static/controllers/app.js"></script>
</body>
</html>