<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Clooney</title>
    <link rel="stylesheet" type="text/css" href="../../static/node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="ApplicationController">
    <div ng-show="event.name != undefined" ng-controller="StatsController">
        <b>{{ event.name }}</b> <small>{{ "" }}</small>

        <div class="info-holder info-table printable-tabe">
        <table id="table" class="table info-block table-striped table-condensed" style="font-size: 14px" ng-cloak multi-sort-table highlight-table>
            <thead>
            <tr>
                <th></th>
                <th ng-repeat="header in headers" class="data-header clickable {{ header.class }}"
                    ng-click="sortData($event, header.sort_id)">
                    <span uib-tooltip="{{ header.tooltip }}" tooltip-placement="top">{{ header.title }}</span>
                    <span ng-show="sorts.indexOf(header.sort_id) > -1"
                          class="glyphicon glyphicon-chevron-up">{{ sorts.indexOf(header.sort_id)+1 }}</span>
                    <span ng-show="sorts.indexOf('-' + header.sort_id) > -1"
                          class="glyphicon glyphicon-chevron-down">{{ sorts.indexOf("-" + header.sort_id)+1 }}</span>
                    <span ng-show="sorts.indexOf(header.sort_id) < 0 && sorts.indexOf(header.sort_id) < 0"
                          class="glyphicon glyphicon-none"> </span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="elem in data | orderBy:sorts">
                <td ng-click="cycleColour(elem)"
                    ng-class="{'highlight-green': colours[elem] % 4 == 1, 'highlight-red': colours[elem] % 4 == 2, 'highlight-blue': colours[elem] % 4 == 3}">
                    <b>{{ $index+1 }}</b>
                </td>
                <td ng-repeat="header in headers" class="data-box {{ header.data_class }}"
                    ng-class="{'highlight-green': colours[elem] % 4 == 1 || elem[header.sort_id] == highlight_val, 'highlight-red': colours[elem] % 4 == 2, 'highlight-blue': colours[elem] % 4 == 3}">
                    <a ng-show="['Team Number', 'Team', 'T#'].indexOf(header.title) >= 0" href="#/team/{{ getData(elem, header.key) }}" class="team-link"
                       ng-bind="getData(elem, header.key)">
                    </a>
                    <span ng-show="['Team Number', 'Team', 'T#'].indexOf(header.title) < 0" ng-bind="getData(elem, header.key)"
                          uib-tooltip="{{ header.title }}" tooltip-placement="top"></span>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>

    <script src="../../static/node_modules/angular/angular.min.js"></script>
    <script src="../../static/node_modules/angular-cookies/angular-cookies.min.js"></script>
    <script src="../../static/node_modules/ngstorage/ngStorage.min.js"></script>
    <script src="../../static/node_modules/angular-route/angular-route.min.js"></script>
    <script src="../../static/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="../../static/node_modules/angular-md5/angular-md5.min.js"></script>
    <script src="../../static/node_modules/chart.js/dist/Chart.js"></script>
    <script src="../../static/node_modules/angular-chart.js/angular-chart.js"></script>
    <script src="../../static/controllers/app.js"></script>
    <script src="../../static/controllers/analysis/analysis.js"></script>
</body>
</html>