<div class="header-row">
    <div class="header-entry header-title-row">
        <div class="row">
            <div class="col-xs-10 col-md-11 col-xs-offset-2 col-md-offset-1 row">
                <div class="{{ header.class }}" ng-repeat="header in headers">
                    <b>{{ header.title }}</b>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-row" ng-repeat="editable_header in edit_headers">
    <div class="header-entry">
        <div class="row">
            <div class="col-xs-2 col-md-1">
                <ul class="header-edit-button-list">
                    <li class="header-edit-button" ng-click="ascendRow(editable_header)"><span
                            class="glyphicon glyphicon-chevron-up"></span></li>
                    <li class="header-edit-button" ng-click="descendRow(editable_header)"><span
                            class="glyphicon glyphicon-chevron-down"></span></li>
                    <li class="header-edit-button" ng-click="duplicateRow(editable_header)"><span
                            class="glyphicon glyphicon-duplicate"></span></li>
                    <li class="header-edit-button" ng-click="deleteRow(editable_header)"><span
                            class="glyphicon glyphicon-remove"></span></li>
                </ul>
            </div>
            <div class="col-xs-10 col-md-11 row">
                <div class="{{ header.data_class }}" ng-repeat="header in headers">
                    <input class="form-control" id="header_{{ editable_header.key }}_{{ header.key }}"
                           ng-model="editable_header[header.key]" type="text"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="header-row">
    <div class="header-entry">
        <div class="row">
            <div class="col-xs-8">
                <ul class="header-edit-button-list">
                    <li class="header-edit-button clickable" ng-click="addRow()"><span
                            class="glyphicon glyphicon-plus"></span> {{ add_message }}
                    </li>
                </ul>
            </div>
            <div class="col-xs-4" style="text-align: right">
                <button class="btn btn-default" ng-click="reset()">Reset</button>
                <button class="btn btn-default" ng-click="save()">Save</button>
            </div>
        </div>
    </div>
</div>